*{
	font-family: Verdana;
	font-size: 14px;
	text-align: justify;
}

img{
	height: 300px;
	width: 100%;
}

#contenedor {
	margin: auto;
	padding: 2%;
	background-color: #55ACEE;
}

#texto {
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:250px;
  font-size:14px;
  margin:50px auto;
  display:block;
  border-radius:10px;
  border:6px solid #556677;
}

#contador {
	height: 20px:
	width: 7px;
}

#enviar {
	margin: 0 auto;
	background-color: #1C9FF0;
	color: white;
	display: flex;
}

.red {
	color: red;
}

.violet {
	color: violet;
}

.purple {
	color: purple;
}
